@model LexiconLMS.Models.Activity

@{
    ViewBag.Title = "Manage Activity";
}

<h1>@ViewBag.Title</h1>

<div class="row">
    <div class="col-md-8">
        <div class="col-md-4 bold-info">
            Activity: @Model.Name
        </div>
        <div class="col-md-4 bold-info">
            Module: @ViewBag.ModuleName
        </div>
        <div class="col-md-4 bold-info">
            Course: @ViewBag.CourseName
        </div>
        <div class="col-md-12">
            @Html.DisplayFor(model => Model.Description)
        </div>
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-default btn-edit" })
        @Html.ActionLink("Delete", "Delete", "Activities", new { id = Model.Id }, new { @class = "btn btn-default btn-delete" })
        @Html.ActionLink("Upload", "Upload", "Documents", new { activityId = Model.Id, moduleId = Model.ModuleId }, new { @class = "btn btn-default btn-upload" })


    </div>
</div>
<hr class="thick-divider-line"/>
<div class="row">
    <div class="col-md-9">
        <p class="course-name">Documents:</p>
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Upload", "Upload", "Documents", new { activityId = Model.Id, moduleId = Model.ModuleId }, new { @class = "btn btn-default btn-upload" })
    </div>
</div>
@if (Model.Documents.Count() == 0)
{
    <p>There are no documents</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    FileName
                </th>
                <th>
                    Size
                </th>
                <th>
                    Uploaded
                </th>
                <th>
                    Due:
                </th>
                <th>
                    Owner
                </th>
                <th>
                    State
                </th>
                <th>
                    Options
                </th>
            </tr>
            <thead>

        </thead>
        @foreach (var doc in Model.Documents)
        {
            <tr>
                <td class="doclink @doc.MimeType.DefaultExtension">
                    <a target ="_blank" href="@Href("~/uploads/"+doc.Filename)">
                    @doc.Filename
                    </a>
                </td>
                <td>@doc.FileSize</td>
                <td>@doc.DateUploaded.ToShortDateString()</td>
                <td>
                    @if (doc.DeadLine != null)
                    {
                        System.DateTime myDeadLine = doc.DeadLine.GetValueOrDefault();
                        <span>@myDeadLine.ToShortDateString()</span>
                    }
                </td>
                <td>@doc.Owner.Email</td>
                <td>@doc.Status.Name</td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Documents", new { id = doc.Id }, new { @class = "btn btn-default btn-delete" })
                    @if (doc.PurposeId == 7)
                    {
                        @Html.ActionLink("Review", "Review", "Documents", new { id = doc.Id }, new { @class = "btn btn-default btn-edit" })
                    }
                </td>
            </tr>
        }
        
    </table>
}
<p>
    <br />
    @Html.ActionLink("Back", "Manage", "Modules", new { id = Model.ModuleId }, new { })
</p>
