@model LexiconLMS.ViewModels.DashboardVM

@{
    ViewBag.Title = "Your Dashboard";
    int i = 0;
}

<p class="page-header">Dashboard</p>
<p class="course-name">Course: @Model.CourseName</p>
<p>Student: @Model.StudentName</p>
<p>Today: @Model.TodaysDate.DayOfWeek, @Model.TodaysDate.ToString("yyyy-MM-dd")</p>

<br />
<br />
<div class="thick-divider-line-schedule"></div>
<p></p>
<br />

@if (Model.ModuleExists)
{
    <p class="course-name">Module: @Model.ModuleName</p>
}
else
{
    <p>No module defined for today</p>
}


@if (Model.ActivityExists)
{

    <p class="course-name">Today's Activities</p>
    <table class="table schedule-table">
        <tr>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Activity Type</th>
            <th>Activity</th>
            <th>External</th>
            <th></th>
            @*<th>Description</th>*@
        </tr>
        @foreach (var item in Model.ActivitiesList)
        {
            <tr>
                <td class="smallcol">
                    @item.StartDate.ToString("HH:mm")
                </td>
                <td class="smallcol">
                    @item.EndDate.ToString("HH:mm")
                </td>
                <td class="smallmediumcol">
                    @Model.ActivityTypesList[i]
                </td>
                <td class="smallmediumcol">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (item.External)
                {
                    <td class="smallcol">
                        Yes
                    </td>
                }
                else
                {
                    <td class="smallcol"></td>
                }
                <td class="extralargecol">
                       @*@Html.DisplayFor(modelItem => item.Description)*@
                    <details>
                        <summary>Read more...</summary>
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    </details>
                </td>
            </tr>
            i++;
        }
    </table>
}
else
{
    <p>No activity defined for today</p>
}