@model IEnumerable<LexiconLMS.Models.Activity>

        <table class="table" width="500">
            <tr>
                <th>
                    Activity Type
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th widht="100">
                    Start Time
                </th>
                <th width="115">
                    End Time
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type.TypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @item.StartDate.ToShortDateString()
                    </td>
                    <td>
                        @item.StartDate.TimeOfDay
                    </td>
                    <td>
                        @item.EndDate.TimeOfDay
                    </td>
                    <td>
                        @Html.ActionLink("Manage", "Manage", "Activities", new { id = item.Id }, new { @class = "btn btn-default btn-edit" })
                    </td>
                </tr>
            }

        </table>

