<!DOCTYPE html>
<html>
@using Microsoft.AspNet.Identity;
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7539694/7076952/css/fonts.css" />
    <link href="https://fonts.googleapis.com/css?family=Chonburi" rel="stylesheet">
    <title>@ViewBag.Title - LEXICON</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img src="~/Content/Images/lexiconlogo.png" />
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (User.IsInRole("Teacher"))
                {
                    <a href="@Url.Action("Index","Courses")">
                    </a>
                }
                @if (User.IsInRole("Student"))
                {
                    <a href="@Url.Action("ShowDashboard","DashboardVMs")">
                        <img src="~/Content/Images/lexiconlogo.png" />
                    </a>

                }

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Teacher"))
                    {
                        <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
                        <li>@Html.ActionLink("Students", "Index", "Students")</li>
                        <li>@Html.ActionLink("Teachers", "Index", "Teachers")</li>
                    }
                    @if (User.IsInRole("Student"))
                    {
                        <li>@Html.ActionLink("Dashboard", "ShowDashboard", "DashboardVMs")</li>
                        <li>@Html.ActionLink("Schedule", "ShowSchedule", "ScheduleVMs")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">

        <div id="message">
            @TempData["Message"]
        </div>

        @RenderBody()
        @*<hr />*@
        <footer class="footer">
            <p class="footer-text">&copy; @DateTime.Now.Year - Lexicon</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)

</body>
</html>
