@model IEnumerable<LexiconLMS.Models.Module>

<div class="row">
    <div class="col-6 col-md-4">        
        @Html.ActionLink("Add Module", "Create", "Modules", new { courseId = ViewBag.CourseId }, new { @class = "btn btn-default btn-add-module " })        
    </div>
</div>

<h3>Course Id: @ViewBag.CourseId</h3>

<table class="table">
    <tr>
        <th>
            Module Name
            @*@Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            Start Time
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            End Time
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{  
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.StartDate.Date)
        </td>

        <td>
            @item.StartDate.TimeOfDay
        </td>

        <td>
            @item.EndDate.Date.ToShortDateString()
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.EndDate.TimeOfDay)
        </td>

        <td>
            @Html.ActionLink("Manage", "Manage", "Modules", new { id = item.Id }, new { @class = "btn btn-default btn-edit" })
        </td>
    </tr>
}

</table>






