@model IEnumerable<LexiconLMS.Models.Document>

@{
    ViewBag.Title = "Documents";
}

<div class="row">
    <div class="col-md-9">
        <h1>Documents</h1>
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Upload", "Upload", new { }, new {@class="btn btn-default btn-upload", style="margin-top:50px"})
    </div>
</div>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Filename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MimeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUploaded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeadLine)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Filename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MimeType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateUploaded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeadLine)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new {@class="btn btn-default btn-edit" })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id } , new { @class = "btn btn-default btn-delete" } )
        </td>
    </tr>
}

</table>
