@model LexiconLMS.Models.Document

@{
    ViewBag.Title = "Review Hand-In";
}

<h1>@ViewBag.Title</h1>

<div>
    <h4>Document:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Filename)
        </dt>

        <dd>
            <span>
                <a target="_blank" href="@Href("~/uploads/" + Model.Filename)" class="doclink @Model.MimeType.DefaultExtension">
                    @Model.Filename
                </a>
            </span>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FileSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileSize)
        </dd>

        <dt>
            Upoaded By:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.FirstName) @Html.DisplayFor(model => model.Owner.LastName)
        </dd>

        <dt>
            Purpose:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purpose.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Name)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>

        <dt>
            Uploaded:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateUploaded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeadLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeadLine)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Approved","Approve", "Documents", new { id = Model.Id }, new {@class="btn btn-default btn-add" })
    @Html.ActionLink("Try Again", "Retry", "Documents", new { id = Model.Id }, new { @class = "btn btn-default btn-edit" })
    @Html.ActionLink("Failed", "Fail", "Documents", new { id = Model.Id }, new { @class = "btn btn-default btn-delete" })
    @Html.ActionLink("Give Feedback", "GiveFeedback", "Documents", new { id = Model.Id }, new { @class = "btn btn-default btn-upload btn-with-cancel" })
    @Html.ActionLink("Back", "Manage", "Activities", new { id = Model.ActivityId}, new {@class="cancel-link" })
</p>
