@model LexiconLMS.ViewModels.CoursesVM

@*@{
        ViewBag.Title = "Index";
    }*@

<div class="row">
    <div class="col col-md-8">
        <p class="page-header">@Model.ViewTitle</p>
    </div>
    @*<div class="col-6 col-md-4">
        <button type="button" class="btn btn-default btn-add btnAddCourse" onclick="location.href='@Url.Action("Create", "Courses")';return false;">Add Course</button>
    </div>*@
    <div class="col-6 col-md-4">
        @Html.ActionLink("Add Course", "Create", "Courses", new { @class="btn btn-default btn-add btnAddCourse"})
    </div>

</div>

<ol class="breadcrumb">
    <li class="active"><a href="#">Courses</a></li>
    <li><a href="#">Modules</a></li>
    <li><a href="#">Activities</a></li>
</ol>

@if (Model.Courses != null)
{
    foreach (var item in Model.Courses)
    {
        <hr />
        <div class="row">
            <div class="col col-md-8">
                <div class="course-name">
                    @Html.ActionLink(item.Name, "Index", "Modules", new { id = item.Id }, null)
                </div>

                <span class="date"> @Html.DisplayFor(modelItem => item.StartDate)</span>
                <span class="date">  -  </span>
                <span class="date">@Html.DisplayFor(modelItem => item.EndDate)</span>

                <p class="description">
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
            </div>
            <div class="col-6 col-md-4">
                <button type="button" class="btn btn-default btn-more-info" onclick="location.href='@Url.Action("Index", "Modules")';return false;">Course Modules</button>
                <br />
                <button type="button" class="btn btn-default btn-edit" onclick="location.href='@Url.Action("Edit", "Courses", new { id = item.Id } )';return false;">Edit Course</button>
                <br />
                <button type="button" class="btn btn-default btn-delete" onclick="location.href='@Url.Action("Delete", "Courses", new { id = item.Id } )';return false;">Delete Course</button>
            </div>
        </div>
    }
}


@if (Model.Courses != null)
{
    foreach (var item in Model.Courses)
    {
        <hr />
        <div class="row">
            <div class="col col-md-8">
                <div class="course-name">
                    @Html.ActionLink(item.Name, "Index", "Modules", new { id = item.Id }, null)
                </div>

                <span class="date"> @Html.DisplayFor(modelItem => item.StartDate)</span>
                <span class="date">  -  </span>
                <span class="date">@Html.DisplayFor(modelItem => item.EndDate)</span>

                <p class="description">
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
            </div>
            <div class="col-6 col-md-4">
                <button type="button" class="btn btn-default btn-edit" onclick="location.href='@Url.Action("Edit", "Courses")';return false;">Edit Course</button>
                <br />
                <button type="button" class="btn btn-default btn-delete" onclick="location.href='@Url.Action("Delete", "Courses")';return false;">Delete Course</button>
            </div>
        </div>
    }
}


@if (Model.Courses != null)
{
    foreach (var item in Model.Courses)
    {
        <hr />
        @*<div class="row">
            <div class="col col-md-8">*@
        <div class="course-name">
            @Html.ActionLink(item.Name, "Index", "Modules", new { id = item.Id }, null)
        </div>

                <span class="date"> @Html.DisplayFor(modelItem => item.StartDate)</span>
                <span class="date">  -  </span>
                <span class="date">@Html.DisplayFor(modelItem => item.EndDate)</span>

                <p class="description">
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
                @*</div>*@
                @*<div class="col-6 col-md-4">*@
                <button type="button" class="btn btn-default btn-edit" onclick="location.href='@Url.Action("Edit", "Courses")';return false;">Edit Course</button>
                <br />
                <button type="button" class="btn btn-default btn-delete" onclick="location.href='@Url.Action("Delete", "Courses")';return false;">Delete Course</button>
                @*</div>*@
                @*</div>*@
    }
}
