@model IEnumerable<LexiconLMS.Models.Course>


<div class="row">
    <div class="col col-md-8">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="col-6 col-md-4">
        @Html.ActionLink("Add Course", "Create", "Courses", new { @class = "btn btn-default btn-add btnInLineWithH1" })
    </div>
</div>

<form method="GET" action="/Courses/Index" style="float:left">
    @Html.TextBox("searchOn")
    <input type="submit" value="Search" />
</form>

<form method="GET" action="/Courses/Index">
    <input class="left-margin-for-reset-button" type="submit" value="Reset" />
</form>

<hr class="thick-divider-line" />

@if (Model != null)
{
    foreach (var item in Model)
    {
        <hr />
        <div class="row">
            <div class="col col-md-8">
                <div class="course-name">
                    @Html.ActionLink(item.Name, "Manage", "Courses", new { id = item.Id }, null)

                </div>

                <span class="date"> @Html.DisplayFor(modelItem => item.StartDate)</span>
                <span class="date">  -  </span>
                <span class="date">@Html.DisplayFor(modelItem => item.EndDate)</span>

                <p class="description">
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
            </div>
            <div class="col-6 col-md-4">
                @Html.ActionLink("Edit Course", "Edit", "Courses", new { id = item.Id }, new { @class = "btn btn-default btn-edit" })
                @Html.ActionLink("Delete Course", "Delete", "Courses", new { id = item.Id }, new { @class = "btn btn-default btn-delete" })
            </div>
        </div>
    }
}
