@model IEnumerable<LexiconLMS.Models.Course>

<head>
    <script src="http://code.jquery.com/jquery-1.4.2.min.js">
    </script>
</head>

@*<div id="message">
    @TempData["Message"]
</div>*@

<div class="row">
    <div class="col col-md-8">
        <p class="page-header">@ViewBag.Title</p>
    </div>
    @*<div class="col-6 col-md-4">
        <button type="button" class="btn btn-default btn-add btnAddCourse" onclick="location.href='@Url.Action("Create", "Courses")';return false;">Add Course</button>
    </div>*@
    <div class="col-6 col-md-4">
        @Html.ActionLink("Add Course", "Create", "Courses", new { @class="btn btn-default btn-add btnAddCourse"})
    </div>

</div>

@*<ol class="breadcrumb">
        <li class="active"><a href="#">Courses</a></li>
        <li><a href="#">Modules</a></li>
        <li><a href="#">Activities</a></li>
    </ol>*@

@if (Model != null)
{
    foreach (var item in Model)
    {
        <hr />
        <div class="row">
            <div class="col col-md-8">
                <div class="course-name">
                    @Html.ActionLink(item.Name, "Manage", "Courses", new { id = item.Id }, null)

                 </div>

                <span class="date"> @Html.DisplayFor(modelItem => item.StartDate)</span>
                <span class="date">  -  </span>
                <span class="date">@Html.DisplayFor(modelItem => item.EndDate)</span>

                <p class="description">
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
            </div>
            <div class="col-6 col-md-4">
                @Html.ActionLink("Edit Course", "Edit", "Courses", new { id = item.Id }, new { @class = "btn btn-default btn-edit" })
                <br />
                @Html.ActionLink("Delete Course", "Delete", "Courses", new { id = item.Id }, new { @class = "btn btn-default btn-delete" })
            </div>
        </div>
    }
}

