@model IEnumerable<LexiconLMS.ViewModels.TeacherListVM>

@{
    ViewBag.Title = "Teachers at Lexicon";
}
<div class="row">
    <div class="col-md-8">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="col-md-4">
        <br />
        @Html.ActionLink("Add Teacher", "Create", new { } , new {@class="btn btn-default btn-add" })
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default btn-edit" })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new {@class="btn btn-default btn-delete" })
        </td>
    </tr>
}

</table>
