@model LexiconLMS.ViewModels.ScheduleVM

@{
    ViewBag.Title = "Index";
}

<p class="page-header">Schedule</p>
<p class="course-name">Course: @Model.CourseName</p>
<p>Latest update: @Model.UpdatedDate.ToString("yyyy-MM-dd" + "' at '" + "HH:mm")</p>

<br />
<br />

<div class="thick-divider-line-schedule"></div>
<p></p>
<br />

@if (!Model.ModuleExists)
{
    <p>No modules defined for this course</p>
}
else
{
    <table class="table schedule-table">
        <tr>
            <th>Date</th>
            <th>Day</th>
            <th>Module</th>
            <th>Morning</th>
            <th>Afternoon</th>
        </tr>
        @foreach (var item in Model.ScheduleRowList)
        {
            if (item.ScheduleRowWeekDay == "Saturday" || item.ScheduleRowWeekDay == "Sunday")
            {
                <tr class="schedule-weekend-day schedule-small-font">
                    <td class="smallcol">
                        @Html.DisplayFor(modelItem => item.ScheduleRowDate)
                    </td>
                    <td class="smallcol">
                        @Html.DisplayFor(modelItem => item.ScheduleRowWeekDay)
                    </td>
                    <td class="smallmediumcol">

                    </td>
                    <td class="morningcol-schedule">

                    </td>

                    <td class="afternooncol-schedule">
                       
                    </td>
                </tr>
            }
            else
            {
                <tr class="schedule-small-font">
                    <td class="smallcol">
                        @Html.DisplayFor(modelItem => item.ScheduleRowDate)
                    </td>
                    <td class="smallcol">
                        @Html.DisplayFor(modelItem => item.ScheduleRowWeekDay)
                    </td>
                    <td class="smallmediumcol">
                        @Html.DisplayFor(modelItem => item.ModuleName)
                    </td>
                    <td class="morningcol-schedule">
                        @if (item.AmActivity != null)
                        {
                            foreach (var activity in item.AmActivity)
                            {
                                <details>
                                    <summary>@Html.DisplayFor(modelItem => activity.AmActivityTitle)</summary>
                                    @activity.AmActivityDescription
                                </details>
                            }
                        }
                    </td>
                    <td class="afternooncol-schedule">
                        @if (item.PmActivity != null)
                        {
                            foreach (var activity in item.PmActivity)
                            {
                                <details>
                                    <summary>@Html.DisplayFor(modelItem => activity.PmActivityTitle)</summary>
                                    @activity.PmActivityDescription
                                </details>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </table>
}