@model LexiconLMS.Models.Module

@{
    ViewBag.Title = "Manage Module";
    ViewBag.ModuleId = Model.Id;
}
    <h1>Manage Module</h1>

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4 bold-info">
                Module: @Model.Name
            </div>
            <div class="col-md-4 bold-info">
                Course: @ViewBag.CourseName
            </div>
            <div class="col-md-4 bold-info">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Model.Description
            </div>
        </div>
    </div>
    <div class="col-md-4">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new {@class= "btn btn-default btn-edit" })
                @Html.ActionLink("Delete", "Delete", new {id=Model.Id }, new {@class= "btn btn-default btn-delete" })
                @Html.ActionLink("Upload", "Upload", "Documents", new { moduleId = Model.Id }, new { @class = "btn btn-default btn-upload" })


    </div>
</div>


<hr class="thick-divider-line" />
<div class="row">
    <div class="col-md-9">
        <p class="course-name">Activities</p>
    </div>
    <div class="col-md-3">
        <br />
        @Html.ActionLink("Add Activity", "Create", "Activities", new { moduleId = ViewBag.ModuleId }, new { @Class = "btn btn-default btn-add" })
    </div>
</div>

@Html.Partial("_ActivityList", Model.Activities)
<br />
<hr class="thick-divider-line" />
<div class="row">
    <div class="col-md-7"><p class="course-name">Documents:</p></div>
    <div class="col-md-5">@Html.ActionLink("Upload", "Upload", "Documents", new { moduleId = Model.Id }, new { @class = "btn btn-default btn-upload" })
</div>
</div>
@if (Model.Documents.Count == 0)
{
    <p>There are no documents for this Module.</p>
}
else
{
    <table class="table-striped" width="800">
        <thead>
            <tr>
                <th>
                    FileName
                </th>
                <th>
                    Size
                </th>
                <th>
                    Uploaded
                </th>
                <th>
                    By
                </th>
                <th>
                    State
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        @foreach (var doc in Model.Documents)
        {
            <tr>
                <td class="doclink @doc.MimeType.DefaultExtension">
                    <a target="_blank" href="@Href("~/uploads/" + doc.Filename)">
                        @doc.Filename
                    </a>
                </td>
                <td>@doc.FileSize</td>
                <td>@doc.DateUploaded.ToShortDateString()</td>
                <td>@doc.Owner.Email</td>
                <td>@doc.Status.Name</td>
                <td>@Html.ActionLink("Delete", "Delete", "Documents", new { id = doc.Id }, new { @class = "btn btn-default btn-delete" })</td>
            </tr>
        }
    </table>
}

@Html.ActionLink("Back", "Manage", "Courses", new { id = Model.CourseId }, new { })

