@model LexiconLMS.Models.Module

@{
    ViewBag.Title = "Manage Module";
    ViewBag.ModuleId = Model.Id;
}
<div>
    <p class="page-header">
        Manage Module
    </p>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-sm-4 bold-info">
                Course: @ViewBag.CourseName
            </div>
            <div class="col-sm-4 bold-info">
                Module: @Model.Name
            </div>
            <div class="col-sm-4 bold-info">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Model.Description
            </div>
        </div>
    </div>
    <div class="col-md-4">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new {@class= "btn btn-default btn-edit" })
                <br />
                @Html.ActionLink("Delete", "Delete", new {id=Model.Id }, new {@class= "btn btn-default btn-delete" })
    </div>
</div>


<hr />

<h2>Activities</h2>
@Html.Partial("_ActivityList", Model.Activities)

<br />

@Html.ActionLink("Back", "Manage", "Courses", new { id = Model.CourseId }, new { })

